/* -------- Fonts -------- */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
/* -------- Fonts -------- */
/* -------- Reset Styles -------- */
/* -------- Reset Styles -------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* -------- Reset Styles -------- */
/* -------- Reset Styles -------- */
/* -------- Variables -------- */
/* -------- Variables -------- */
/* -------- Variables -------- */
/* -------- Variables -------- */
/* -------- General -------- */
body {
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  font-family: "League Spartan";
  background: url(../images/bg-pattern-top-mobile.svg) 0rem -3rem no-repeat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  padding: 0 2rem;
}

/* -------- General -------- */
/* -------- Social proof -------- */
.social-proof {
  display: flex;
  flex-direction: column;
}
.social-proof__header {
  padding-top: 7rem;
}
.social-proof__reviews-row {
  margin: 5rem 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-proof-header__info {
  margin-bottom: 4rem;
}
.social-proof-header__title {
  color: hsl(300, 43%, 22%);
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.1rem;
  margin-bottom: 2.5rem;
}
.social-proof-header__description {
  color: hsl(303, 10%, 53%);
  text-align: center;
  font-size: 1.8rem;
}
.social-proof-header__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social-proof-header__item {
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.8rem;
}
.social-proof-header__stars {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
}
.social-proof-header__rate-info {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.review-item {
  background-color: hsl(300, 43%, 22%);
  padding: 3rem;
  border-radius: 0.8rem;
  color: hsl(0, 0%, 100%);
}
.review-item__header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.review-item__avatar {
  display: block;
  max-width: 3.5rem;
  height: auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review-item__name {
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
.review-item__position {
  color: hsl(333, 80%, 67%);
  letter-spacing: 0.1rem;
}
.review-item__text {
  line-height: 1.4;
}

@media (min-width: 768px) {
  .social-proof {
    justify-content: center;
    align-items: center;
  }
  .social-proof__reviews-row {
    flex-direction: row;
  }
  .social-proof-header__list {
    flex-direction: row;
  }
  .social-proof-header__description {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  body {
    background: url(../images/bg-pattern-top-mobile.svg) 30rem 0rem no-repeat, url(../images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  }
  .social-proof {
    max-width: 110rem;
    margin: 0 auto;
  }
  .social-proof__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
  }
  .social-proof__reviews-row {
    gap: 3rem;
    align-items: flex-start;
    align-content: flex-start;
  }
  .social-proof-header__title {
    text-align: left;
    margin: initial;
    margin-bottom: 2.5rem;
    font-size: 6rem;
    max-width: 70%;
  }
  .social-proof-header__description {
    text-align: left;
    margin: initial;
    max-width: 70%;
    line-height: 1.5;
  }
  .social-proof-header__rate {
    flex: 1 1 70%;
  }
  .social-proof-header__list {
    flex-direction: column;
  }
  .social-proof-header__item {
    flex-direction: row;
    width: 100%;
    padding: 2rem 3rem;
    gap: 3rem;
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .review-item {
    padding: 4rem 3rem;
  }
  .review-item:nth-child(2) {
    margin-top: 2rem;
  }
  .review-item:last-child {
    margin-top: 4rem;
  }
}
@media (min-width: 1130px) {
  .social-proof-header__item:first-child {
    margin-left: -8rem;
  }
  .social-proof-header__item:nth-child(2) {
    margin-left: -4rem;
  }
}
/* -------- Social proof -------- */