/* -------- Fonts -------- */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

/* -------- Fonts -------- */

/* -------- Reset Styles -------- */

@import "./reset";

/* -------- Reset Styles -------- */

/* -------- Variables -------- */

@import "./variables";

/* -------- Variables -------- */

/* -------- General -------- */

body {
  font-size: 1.5rem;
  background-color: $white;
  font-family: "League Spartan";
  background: url(../images/bg-pattern-top-mobile.svg) 0px -30px no-repeat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  padding: 0 2rem;
}

/* -------- General -------- */

/* -------- Social proof -------- */

.social-proof {
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 7rem;
  }

  &__reviews-row {
    margin: 5rem 0 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // &__review-item {
  // }
}

.social-proof-header {
  &__info {
    margin-bottom: 4rem;
  }

  &__title {
    color: $verydark-magenta;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -0.1rem;
    margin-bottom: 2.5rem;
  }

  &__description {
    color: $dark-grayish-magenta;
    text-align: center;
    font-size: 1.8rem;
  }

  // &__rate {
  // }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $light-grayish-magenta;
    border-radius: 0.8rem;
  }

  &__stars {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
  }

  &__rate-info {
    color: $verydark-magenta;
    font-weight: 700;
  }
}

.review-item {
  background-color: $verydark-magenta;
  padding: 3rem;
  border-radius: 0.8rem;
  color: $white;

  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  &__avatar {
    display: block;
    max-width: 3.5rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  // &__about {
  // }

  &__name {
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
  }

  &__position {
    color: $soft-pink;
    letter-spacing: 0.1rem;
  }

  &__text {
    // letter-spacing: 0.1rem;
    line-height: 1.4;
  }
}

/* -------- Social proof -------- */
